<a href="https://colab.research.google.com/github/tarun-reddy-13/_Python_/blob/main/17_3_2022_(Classes).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Demo on TYPE function :

In [ ]:
a=10
print(a)
print(type(a))
a=10.53
print(a)
print(type(a))
a="Tarun"
print(a)
print(type(a))
a='A'
print(a)
print(type(a))

10
<class 'int'>
10.53
<class 'float'>
Tarun
<class 'str'>
A
<class 'str'>

Conditional statements :

Indentation is required to represent a block of statements.

In [ ]:
n=int(input("Enter any integer : "))
if (n>0):
    print("The number is positive")
else:
    print("The number is negative")

Enter any integer : -5
The number is negative

elif ladder

In [ ]:
c=int(input())
if (c>10):
    print("Hi")
elif (c>20):
    print("Hello")
else:
    print("Bye")

10
Bye

Loops:
    1. for.
    2. while.
1. for : 
    to use for loop we need a member, member ship keword (in) and range() function.
    in range() function the parameters are : 
    1. starting point
    2. end point
    3. step size (it is by default 1. if we need we can change)

Programs :

1. Read a number with three digits and compute the addition of last and first digit.
2. Read any two numbers and find the smallest among them.
3. Check the input year is the leap year or not.
4. smallest among three numbers.
5. Second smallest/largest among three numbers.
6. print the even series upto n.
7. write a program to find the sum and average of first n series of numbers.
8. print the factors of a number n upto the range of 100.
9. print the series of squares foon 1 to n numbers.
10. find the no.of factors of a given input number.

In [ ]:
sum=0;n=int(input("Enter any three digit number : "))
for i in range(1,2):
    if n>100:
        sum=sum+n%10
        n=n/10
    if n<100:
        sum=sum+n/10
print(int(sum))

Enter anny three digit number : 125
6

In [ ]:
print("ENter any two numbers")
a=int(input())
b=int(input())
if(a>b):
    print(b,"is smallest")

ENter any two numbers
3
2
2 is smallest

In [ ]:
yr=int(input("Enter the year : "))
if (yr%4==0 and yr%100!=0)or(yr%400==0):
    print("Leap year")
else:
    print("Not a leap year")

Enter the year : 2016
Leap year

In [ ]:
print("Enter any three numbers : ")
a=int(input())
b=int(input())
c=int(input())
if (a<b and a<c):
    print(a,"is smaller")
elif(b<c):
    print(b,"is smaller")
else:
    print(c,"is smaller")

Enter any three numbers :
4
2
3
2 is smaller

In [ ]:
print("Enter any three numbers ; ")
a=int(input())
b=int(input())
c=int(input())
if (a>b and a<c)or(a>c and a<b):
    print(a,"is second largest number")
elif (b>a and b<c)or(b>c and b<a):
    print(b,"is second largest number")
elif (c>a and c<b)or(c>b and c<a):
    print(c,"is second largest number")

Enter any three numbers ;
13
19
10
13 is second largest number

In [ ]:
n=int(input("Enter the value of n : "))
for i in range(0,n+1,2):
    print(i)

Enter the value of n : 10
0
2
4
6
8
10

In [ ]:
sum=0;n=int(input("Enter the value of n : "))
for i in range(0,n+1):
    sum=sum+i
print("sum of the series is : ",sum,"\tAverage of the series : ",int(sum/n))

Enter the value of n : 10
sum of the series is :  55 	Average of the series :  5

In [ ]:
n=int(input("Enter any number : "))
for i in range (1,101):
    if(n%i==0):
        print(i)

Enter any number : 10
1
2
5
10

In [ ]:
n=int(input("Enter the value of n : "))
for i in range(1,n+1):
    print(i*i)

Enter the value of n : 10
1
4
9
16
25
36
49
64
81
100

In [ ]:
count=0;n=int(input())
for i in range(1,n+1):
    if(n%i==0):
        count+=1
print("No.of Factors for a given number ",n,"is : ",count)

10
No.of Factors for a given number  10 is :  4