<a href="https://colab.research.google.com/github/tarun-reddy-13/_Python_/blob/main/18th_may_(Sets).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sets

Collection of elements irrespective of data type, sets dosen't allow duplicates. sets are represented using {}. It dosen't allow indexing it is unordered i.e; accesing elements using index is not possible.Sets are orbitary type

In [ ]:
#Ex: Creating a set and displaying it.
s={1,2,3,20,-1,4,0,3}
print(s)

{0, 1, 2, 3, 4, 20, -1}

append() cant be used in sets as it is unordered so, we use add()

In [ ]:
s.add(100)
print(s)
s.add(20)
print(s)

{0, 1, 2, 3, 4, 100, 20, -1}
{0, 1, 2, 3, 4, 100, 20, -1}

In [ ]:
l=[1,-1,2,3,7,7,100,4,5,6,100,-1,5,4,1]
l=set(l)
print(l)
print(list(l))

{1, 2, 3, 100, 4, 5, 7, 6, -1}
[1, 2, 3, 100, 4, 5, 7, 6, -1]

In [ ]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

Creating set by adding one element at a time

In [ ]:
n=int(input("Enter the size of set :"))
print("Enter",n,"elements into set :")
s=set()
for i in range(0,n):
    #s.add(input()) gives an error as the preference is given to dictionary by interpretor so type cast set variable while declaring.
    s.add(input())
print(s)

Enter the size of set :5
Enter 5 elements into set :
1
2
3
3
4
{'1', '2', '4', '3'}

In [ ]:
n=int(input("Enter the size of set :"))
print("Enter",n,"elements into set :")
s=set()
for i in range(0,n):
    #s.add(input()) gives an error as the preference is given to dictionary by interpretor so type cast set variable while declaring.
    s.add(int(input()))
print("Elements of set :", end=" ")
for i in s:
    print(i,end=" ")

Enter the size of set :5
Enter 5 elements into set :
1
2
2
3
4
Elements of set : 1 2 3 4

Read an elements into a set and compute sum of even numbers in the set and also display the total number od even numbers i the set:

In [ ]:
n=int(input("Enter the size of set :"))
print("Enter",n,"elements into set :")
s=set();sum=0;c=0
for i in range(0,n):
    s.add(int(input()))
for i in s:
    if i%2==0:
        sum=sum+i
        c+=1
print("Given set:",s,"\nSum of even numbers in the set:",sum,"\nCount of even numbers in the set:",c)

Enter the size of set :6
Enter 6 elements into set :
1
2
3
3
4
4
Given set: {1, 2, 3, 4}
Sum of even numbers in the set: 6
Count of even numbers in the set: 2

#Set operations

Mostly used : Union, Intersection, difference, Symmetric-difference

1. union() gives the union of two sets: syntax : s1.union(s2)
2. intersection() gives the common elements across wo sets. syntax : s1.intersection(s2)
3. difference() gives the elements which are present in s1 and not present in s2 and viseversa. syntax: s1.difference(s2)
4. symmetric_difference() gives the unique elements across two sets. syntax: s1.symmetric_difference(s2)

In [ ]:
s1={1,3,5,13,7,8,9}
s2={7,8,9,2,4,8}
print("Union of s1 and s2 :",s1.union(s2)) #or we can use bitwise or operator: su = s1 | s2
#print(s2|s1)
print("Intersection of s1 and s2 :",s1.intersection(s2)) #or we can use bitwise and operatio: si = s1 & s2
#print(s1&s2)
print("difference of two sets :",s1.difference(s2)) #or we can use '-' operator: sd = s1 - s2
#print(s1-s2)
print("Symmetric difference of two sets :",s1.symmetric_difference(s2))

Union of s1 and s2 : {1, 2, 3, 4, 5, 7, 8, 9, 13}
Intersection of s1 and s2 : {8, 9, 7}
difference of two sets : {1, 13, 3, 5}
{1, 2, 3, 4, 5, 13}

In [ ]:
s1={1,2,3,4,10,11}
s2={2,3,4,7}
print(s1.difference_update(s2))
print(s1)
print(s2)

None
{1, 10, 11}
{2, 3, 4, 7}

In [ ]:
s1={1,2,3,4,10,11}
s2={2,3,4,7}
print(s1.update(s2))
print(s1)
print(s2)

None
{1, 2, 3, 4, 7, 10, 11}
{2, 3, 4, 7}

In [ ]:
s1={1,3,5,8}
s1.discard(5) #delets the element 5. discard() wont return any value.
print(s1)
s1.discard(50) #if the element is not in set it dosent return any error which puts the programmer inconfusion so to avoid it we use remove.
print(s1)

{8, 1, 3}
{8, 1, 3}

In [ ]:
s1={1,3,5,8}
print(s1.remove(5))
print(s1)
print(s1.remove(50)) #it gives an error if the value is not present.
print(s1)

None
{8, 1, 3}

KeyError: ignored

In [ ]:
#pop() removes the orbitary element and returns the poped element.
s1={1,3,5,-10,8}
print(s1.pop())
print(s1)

1
{3, 5, 8, -10}

In [ ]:
s1={1,2,3,4,5}
s2={1,2,3}
s3={7,8,9}
print(s3.isdisjoint(s1))
print(s2.issubset(s1))
print(s1.issuperset(s1))

True
True
True