<a href="https://colab.research.google.com/github/tarun-reddy-13/_Python_/blob/main/20_4_2022_(functions).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Paramaters in fun def are formal, in fun call actual. as python is a dynamically typed so the paramaters dosent have specified datatype as like in c.

Examples for function with parameters and with return type

In [ ]:
#defining a function to perform sum of two numbers and also to concatinate two strings :
def sum(x,y):
    return x+y

In [ ]:
#Using function to add two integers :
a=10
b=20
print("sum of a and b :",sum(a,b))

sum of a and b : 30

In [ ]:
#Using function to add one integer and one floating value :
a=10.5
b=20
print("sum of a and b :",sum(a,b))

sum of a and b : 30.5

In [ ]:
#Using function to concatinate two strings :
a="Gitam "
b="University"
print("Concatinating a and b :",sum(a,b))

Concatinating a and b : Gitam University

In [ ]:
#Using function to add two complex numbers :
a=2-8j
b=5+18j
print("Sum of a and b :",sum(a,b))

Sum of a and b : (7+10j)

In the case of function without return type the variables are to be declared globally so that they can be accessed in the function to perform the task defined in the function.

In [ ]:
#Function without parameters and with return type.
def sum():
    return x+y
x=int(input())
y=int(input())
print(sum())

4
5
9

In [1]:
#gives error because m,n are not declared 
def sum():
    return m+n
x1=int(input())
y1=int(input())
print(sum())

6
7

NameError: ignored

In [ ]:
#Function without parameters and without return values :
def area():
    print("Area of rectangle is :",l*b)

l=int(input("Enter the length of rectangle :"))
b=int(input("Enter the bredth of the rectangle :"))
area()

Enter the length of rectangle :6
Enter the bredth of the rectangle :4
Area of rectangle is : 24

In [ ]:
#Function with parameters and without return value:
def sum(n):
    num=n
    s=0
    while n!=0:
        s=s+(n%10)
        n=n//10
    print("Sum of digits in",num,"is :",s)

x=int(input("Enter any number :"))
sum(x)

Enter any number :2468
Sum of digits in 2468 is : 20

In [ ]:
#Always positional  arg should be placed first and the =n default arg should be placed else it gives an error as below :
def sum(x=10,y):
    return x+y
c=10
d=20
print(sum(c,d))
print(sum(d,c))
print(sum(d))
print(sum())

SyntaxError: ignored

In [ ]:
#Correct method :
m=10
n=20
def sum(x,y=10):
    return x+y

c=10
d=20
print("sum of a and b :",sum(c))

sum of a and b : 20

WAP to generate a sries of numbers from x to y with the following conditions: 
1. print "clap" in the place of multiples of 3.
2. print "clap" if the number contains 3, 6, 9.

In [ ]:
def is_3_6_9_in(n):
    l=[]
    flag=False
    if n%3==0:
        flag=True
    else:
        l=set(str(n))
        if("3" in l or "6" in l or "9" in l):
            flag=True
    if(flag!=True):
        flag=False
    return flag

def check_series(x,y):
    for i in range(x,y+1):
        if is_3_6_9_in(i) is True:
            print("clap",end=" ")
        else:
            print(i,end=" ")

sp=int(input("Enter the starting point of the series :"))
ep=int(input("Enter the end point of the series :"))
check_series(sp,ep)

Enter the starting point of the series :120
Enter the end point of the series :150
clap 121 122 clap 124 125 clap 127 128 clap clap clap clap clap clap clap clap clap clap clap 140 clap 142 clap clap 145 clap clap 148 clap clap