<a href="https://colab.research.google.com/github/tarun-reddy-13/_Python_/blob/main/Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Hello world
print("Hello World")

Hello World

In [ ]:
#2. operators
a=int(input())
b=int(input())
print("\n")
print(a,"+",b,"=",a+b)
print(a,"-",b,"=",a-b)
print(a,"X",b,"=",a*b)
print(a,"/",b,"= %0.2f"%(a/b))
print(a,"%",b,"=",a%b)

4
3


4 + 3 = 7
4 - 3 = 1
4 X 3 = 12
4 / 3 = 1.33
4 % 3 = 1

In [ ]:
#3. simple intrest
p=float(input("Principle Amount :"))
t=float(input("Time Taken :"))
r=float(input("Rate of Intrest :"))
print("Simple intrest : ",((p*t*r)/100))

Principle Amount :100000
Time Taken :123
Rate of Intrest :1.25
Simple intrest :  153750.0

In [ ]:
#4.Compound intrest
p=float(input("Principle input :"))
r=float(input("Rate of intrest :"))
n=float(input("No.of times the intrest is to be compounded :"))
print("Compund intrest : ",(p*((1+(r/100))**n)))

Principle input :100000
Rate of intrest :1.25
No.of times the intrest is to be compounded :4
Compund intrest :  105094.53369140622

In [ ]:
#5. Compute the area of Circle, Rectangle, Triangle and Square.
#5.1
r=float(input("Enter the radius of the circle to compute it's area :"))
print("Area of the circle for given radius",r,":",(22/7)*(r**2))

Enter the radius of the circle to compute it's area :4
Area of the circle for given radius 4.0 : 50.285714285714285

In [ ]:
#5.2
l=float(input("Enter the length of the rectangle :"))
b=float(input("Enter the bredth of the rectangle :"))
print("Area of rectangle for given dimensions :",l*b)

Enter the length of the rectangle :4.2
Enter the bredth of the rectangle :3
Area of rectangle for given dimensions : 12.600000000000001

In [ ]:
#5.3
b=float(input("Enter the length of the base of triangle :"))
h=float(input("Enter the height of the triangle :"))
print("Area of the trianglr for given dimensions :",(1/2)*b*h)

Enter the length of the base of triangle :5
Enter the height of the triangle :6
Area of the trianglr for given dimensions : 15.0

In [ ]:
#5.3
a=float(input("Enter the length of a side of square :"))
print("Area of square :",4*a**2)

Enter the length of a side of square :4
Area of square : 64.0

In [ ]:
#6. Compute the Circumference of circle
r=float(input("Enter the radius of the circle to compute it's curcumference :"))
print("The circumference of the circle for given radius :",2*(22/7)*r)

Enter the radius of the circle to compute it's curcumference :12.2
The circumference of the circle for given radius : 76.68571428571428

In [ ]:
#7. Find the area of triangle when three sides are given.
a=float(input("Enter the length of the side 1 :"))
b=float(input("Enter the length of the side 2 :"))
c=float(input("Enter the length of the side 3 :"))
s=(a+b+c)/2
print("area of the triangle with given sides is :",(s*(s-a)*(s-b)*(s-c))**0.5)

Enter the length of the side 1 :3
Enter the length of the side 2 :4
Enter the length of the side 3 :5.6
area of the triangle with given sides is : 5.785490471861483

In [ ]:
#8. Compute the Perimeter of Rectangle.
l=float(input("Enter the length of the rectangle :"))
b=float(input("Enter the bredth of the rectangle :"))
print("Perimeter of the rectangle for given dimensions :",2*(l+b))

Enter the length of the rectangle :2
Enter the bredth of the rectangle :3.2
Perimeter of the rectangle for given dimensions : 10.4

In [ ]:
#9. To find the area of trapezium.
print("Enter the length of parallel sides and height :")
a=float(input())
b=float(input())
h=float(input())
print("The area of the trapezium :",((a+b)/2)*h)

Enter the length of parallel sides and height :
2
3
2.3
The area of the trapezium : 5.75

In [ ]:
#10. To find the area of rhombus
d1=float(input("Enter the length of the dimeter 1 :"))
d2=float(input("Enter the length of the dimeter 2 :"))
print("Area of rhombus for given dimensions :",(d1*d2)/2)

Enter the length of the dimeter 1 :2.5
Enter the length of the dimeter 2 :3
Area of rhombus for given dimensions : 3.75

In [ ]:
#11. To find the area of parallelogram. 
a=float(input("Enter the length of the parallel side of a parallelogram :"))
h=float(input("Enter the height of the parallelogram :"))
print("Area of parallelogram :",a*h)

Enter the length of the parallel side of a parallelogram :12.3
Enter the height of the parallelogram :2.3
Area of parallelogram : 28.29

In [ ]:
#12. To find the volume and surface area of cube. 
a=float(input("Enter the length of a side of the cube :"))
print("Volume of the cube :",a**3,"\nSurface area of the cube :",6*a**2)

Enter the length of a side of the cube :12.2
Volume of the cube : 1815.8479999999997
Surface area of the cube : 893.0399999999998

In [ ]:
#13. To find the volume and surface area of cuboids. 
l=float(input("Enter the length of the cuboid :"))
b=float(input("Enter the bredth of the cuboid :"))
h=float(input("Enter the height of the cuboid :"))
print("Volume of cuboid :",l*b*h,"\nSurface area of cuboid :",2*((l*b)+(b*h)+(h*l)))

Enter the length of the cuboid :12.2
Enter the bredth of the cuboid :13
Enter the height of the cuboid :14
Volume of cuboid : 2220.4
Surface area of cuboid : 1022.8

In [ ]:
#14. To find the volume and surface area of cylinder.
r=float(input("Enter the radius of the cylinder :"))
h=float(input("Enter the height of the cylinder :"))
print("Volume of the cylinder :",(22/7)*r*h,"\nSurface area of cylinder :",2*(22/7)*r*(r+h))

Enter the radius of the cylinder :11.2
Enter the height of the cylinder :12
Volume of the cylinder : 422.4
Surface area of cylinder : 1633.2799999999997

In [ ]:
#15. To find the surface area and volume of a cone. 
r=float(input("Enter the radius of the base of the cone :"))
l=float(input("Enter the slant height of the cone :"))
h=float(input("Enter the height of the cone :"))
print("Volume of the cone :",(22/7)*(r**2)*h,"\nSurface area of the cone :",(22/7)*r*(r+l))

Enter the radius of the base of the cone :12.2
Enter the slant height of the cone :13
Enter the height of the cone :14
Volume of the cone : 6548.959999999998
Surface area of the cone : 966.2399999999999

In [ ]:
#16. To find the volume and surface area of sphere.
r=float(input("Enter the radius of the sphere :"))
print("Volume of the sphere :",(4/3)*(22/7)*(r**3),"\nVolume of the sphere :",4*(22/7)*(r**2))

Enter the radius of the sphere :12.2
Volume of the sphere : 7609.267809523807
Volume of the sphere : 1871.1314285714282

In [ ]:
#17. To find the perimeter of a circle and triangle.
r=float(input("Enter the radius of the circle :"))
print("Perimeter of the circle :",2*(22/7)*r)
print("Enter the length of each side of the triangle :")
a=float(input())
b=float(input())
c=float(input())
print("Perimeter of the triangle :",a+b+c)

Enter the radius of the circle :12.4
Perimeter of the circle : 77.94285714285715
Enter the length of each side of the triangle :
22.4
23.5
25
Perimeter of the triangle : 70.9

In [ ]:
#18. 
n=int(input("How many subjects :"))
print("Enter the marks of a student in",n,"subjects :")
m=[]
sum=0
for i in range(0,n):
    m.append(float(input()))
print(m)
for j in range(0,len(m)):
    sum=sum+m[j]
print("Sum of marks in five subjects of a subjects :",sum,"\nAverage :",sum/(len(m)))

How many subjects :5
Enter the marks of a student in 5 subjects :
13
12.5
15
14.5
15
[13.0, 12.5, 15.0, 14.5, 15.0]
Sum of marks in five subjects of a subjects : 70.0
Average : 14.0

In [ ]:
#19. Swap the content of two variables using temp.
a=input()
b=input()
print("Before swapping : a :",a,"\tb :",b)
temp=a
a=b
b=temp
print("After swapping  : a :",a,"\tb :",b)

11
12
Before swapping : a : 11 	b : 12
After swapping  : a : 12 	b : 11

In [ ]:
#20. Swap the content of two variables without using temp.
a=int(input())
b=int(input())
print("Before swapping : a :",a,"\tb :",b)
a=a+b
b=a-b
a=a-b
print("After swapping  : a :",a,"\tb :",b)

11
12
Before swapping : a : 11 	b : 12
After swapping  : a : 12 	b : 11

In [ ]:
#21. Swap the content of two variables using “,” - opeartor.
a=input()
b=input()
print("Before swapping : a :",a,"\tb :",b)
a,b=b,a
print("After swapping  : a :",a,"\tb :",b)

11
12
Before swapping : a : 11 	b : 12
After swapping  : a : 12 	b : 11

In [ ]:
#22. Enter two angles of a triangle and find the third angle.
print("Enter any two angles of the triangle :")
a=float(input())
b=float(input())
print("Third angle of the triangle : %g"%(180-(a+b)))

Enter any two angles of the triangle :
120
30
Third angle of the triangle : 30

In [ ]:
#23. Find the greatest of three numbers using conditional operator. 
a=float(input())
b=float(input())
c=float(input()) 
large= a if (a>b and a>c)  else (b if b>c else c)
print("%g is larger."%large)

11
15
1
15 is larger.

In [ ]:
#24. Read floating point number and to print right most digit of integral part.
n=float(input())
print("The right most digit of integral part in",n,"is :",int(n%10))

In [ ]:
#25. Convert temperature from degree Celsius to Fahrenheit. ( Fahrenheit to Celsius) 
c=float(input("Enter the value of temperature in celcius :"))
print("Given temperature in fahrenheit : %0.1f"%((c*(9/2))+32),"\bF")

Enter the value of temperature in celcius :23.2
Given temperature in fahrenheit : 136.4 F

In [ ]:
#26. To Conversion of an Upper-case character to a Lower-case character. (Vice Versa)
s=input("Enter any sentence :")
lwr=''
for i in s:
    if(ord(i)>=65 and ord(i)<=90):
        lwr=lwr+chr(ord(i)+32)
    else:
        lwr=lwr+i
print("Lower case sentence :",lwr)

Enter any sentence :TARUN
Lower case sentence : tarun

In [ ]:
lwr=input("Enter any sentence :")
upr=''
for i in lwr:
    if(ord(i)>=97 and ord(i)<=122):
        upr=upr+chr(ord(i)-32)
    else:
        upr=upr+i
print("upper case sentence :",upr)

Enter any sentence :tarun
upper case sentence : TARUN

In [ ]:
#27. To compute the net salary of an employee by considering the formula, Net salary =  Basic salary +DA+TA+HRA -LIC where DA, TA, HRA and LIC are supplied as  the input.
bs=float(input("Enter the basic salary of the employee :"))
da=float(input("Enter DA (in percentage) :"))
ta=float(input("Enter TA (in percentage) :"))
hra=float(input("Enter HRA (in percentage) :"))
lic=float(input("Enter LIC (in percentage) :"))
NS=bs+((da*bs)/100)+((ta*bs)/100)+((hra*bs)/100)-((lic*bs)/100)
print("Net salary of an employee : Rs ",NS)

Enter the basic salary of the employee :75000
Enter DA (in percentage) :21
Enter TA (in percentage) :19
Enter HRA (in percentage) :18
Enter LIC (in percentage) :25
Net salary of an employee : Rs  99750.0

In [ ]:
#28. To find out root of any number. 
n=float(input("Enter any number :"))
r=int(input("Enter the order of the root :"))
print("The root of",n,"for given order",r,"is :",n**(1/r))

Enter any number :2
Enter the order of the root :2
The root of 2.0 for given order 2 is : 1.4142135623730951

In [ ]:
#29. Input any number from user and check whether nth bit of the given number is set  (1) or not (0)(hint: Use bitwise operators)
num=int(input("Enter any number :"));n=int(input("enter which bit's value to be fetched :"))
n_bit=(1<<n)
if num & n_bit: 
    print("Nth bit of",num,"is : 1")
else:
    print("Nth bit of",num,"is : 0")

Enter any number :13
enter which bit's value to be fetched :0
Nth bit of 13 is : 1

In [ ]:
#30. Swapping of two numbers using Bitwise Operators. 
a=int(input())
b=int(input())
print("Before swapping : a :",a,"\tb :",b)
a=a^b
b=a^b
a=a^b
print("After swapping  : a :",a,"\tb :",b)

11
12
Before swapping : a : 11 	b : 12
After swapping  : a : 12 	b : 11

In [ ]:
#31. Check whether the triangle is equilateral, isosceles, or scalene triangle. 
print("Enter the angles of the triangle :")
a=float(input())
b=float(input())
c=float(input())
if(a+b+c==180):
    if(a==b==c):
        print("The triangle is an Equilateral triangle.")
    elif(a==b or b==c or c==a):
        print("The triangle is an Isosceles triangle.")
    else:
        print("The triangle is an Scalen triangle.")
else:
    print("Invalid. Triangle cannot be formed with given angles")

Enter the angles of the triangle :
90
45
45
The triangle is an Isosceles triangle.

In [ ]:
#32. To find the greater (smallest) of two numbers. 
print("Enter any two numbers :")
a=float(input())
b=float(input())
if(a>b):
    print(a,"is largest and",b,"is smallest")
else:
    print(b,"is largest and",a,"is smallest")

123.1
123
123.1 is largest and 123.0 is smallest

In [ ]:
#33. To find the greatest (smallest) of three numbers. 
print("Enter any three numbers :")
a=float(input())
b=float(input())
c=float(input())
large = a if (a>b and a>c) else (b if b>c else c)
small = a if (a<b and a<c) else (b if b<c else c)
print("%g"%large," is largest and %g"%small,"is smallest")

Enter any three numbers :
12
1
13
13  is largest and 1 is smallest

In [ ]:
#34. To check whether given number is even or odd. 
n=int(input("Enter any number :"))
if(n%2==0):
    print("Given number is an Even number")
else:
    print("Given number is an odd number")

Enter any number :13
Given number is an odd number

In [ ]:
#35. To check whether a given number is zero or not . 
n=int(input("Enter any number :"))
if(n==0):
    print("Given number is 0")
else:
    print("Given number is non-zero")

Enter any number :0
Given number is 0

In [ ]:
#36. To check whether number a number is positive or negative. 
n=int(input("Enter any number :"))
if(n>0):
    print(n,"is Positive")
else:
    print(n,"is Negitive")

Enter any number :-3
-3 is Negitive

In [ ]:
#37. To check whether number a number is positive or negative or Zero (Using Switch /  Nested if else).
n=int(input("Enter any number :"))
if(n>0):
    print(n,"is Positive")
elif(n==0):
    print("Given number is 0")
else:
    print(n,"is Negitive")

Enter any number :0
Given number is 0

In [ ]:
#38. To find that the enter year is leap year or not. 
yr=int(input("Enter the year : "))
if (yr%4==0 and yr%100!=0)or(yr%400==0):
    print(yr,"is a Leap year")
else:
    print(yr,"is not a Leap year")

Enter the year : 1900
1900 is not a Leap year

In [ ]:
#39. To check whether a given character is vowel or consonant.
ch=input()
if(ch=='a' or 'A' or 'e' or 'E' or 'i' or 'I' or 'o' or 'O' or 'u' or 'U'):
    print(ch,"is a Vowel")
else:
    print(ch,"is a Consonant")

O
O is a Vowel

In [ ]:
#40. Check whether a number is divisible by 5 and 11 or not. 
n=int(input("Enter a number to check whether it is divisible by 5 and 11 :"))
if(n%5 == 0 and n%11 == 0):
    print(n,"is divisible by both 5 and 11")
else:
    print(n,"is not divisible by both 5 and 11")

Enter a number to check whether it is divisible by 5 and 11 :110
110 is divisible by both 5 and 11

In [ ]:
#41. To perform the simple calculator operation. 
print("1. Addition\n2. Subraction\n3. Multiplication\n4. Division\n5. Remainder")
choice=int(input("Enter your choice :"))
if(choice>5 or choice<1):
    print("Invalid choice.")
else:
    print("Enter any two numbers :")
    a=float(input())
    b=float(input())
    if(choice==1):
        print(a,"+",b,"=",a+b)
    elif(choice==2):
        print(a,"-",b,"=",a-b)
    elif(choice==3):
        print(a,"X",b,"=",a*b)
    elif(choice==4):
        print(a,"/",b,"=",a/b)
    else:
        print(a,"%",b,"=",a%b)

1. Addition
2. Subraction
3. Multiplication
4. Division
5. Remainder
Enter your choice :5
Enter any two numbers :
6
5
6.0 % 5.0 = 1.0

In [ ]:
#42. Develop a calculator to convert time, distance, area, volume and temperature from  one unit to another.
print("Unit converter for time, distance, area, volume, temperature from one unit to another")
ch=input("Enter your choice :")
if(ch=="time" or ch=="Time"):
    print("1. Minutes to seconds\n2. Seconds to minutes\n3. Hours to minutes\n4. Hours to seconds")
    c=int(input("Enter your choice :"))
    if(c>4 and c<1):
        print("Invalid choice")
    else:
        if(c==1):
            M=int(input("Minutes :"))
            print("Seconds :",M*60,"\bs")
        elif(c==2):
            s=int(input("Seconds"))
            print("Minutes :",s/60,"\bm")
        elif(c==3):
            H=int(input("Hours :"))
            print("Minutes :",H*60,"\bm")
        else:
            H=int(input("Hours :"))
            print("Seconds :",H*(60**2),"\bs")
elif(ch=="distance" or "Distance"):
    print("1. cm to mm\n2. km to m\n3. m to cm")
    c=int(input("Enter your choice :"))
    if(c>3 and ch<1):
        print("Invalid choice")
    else:
        if(c==1):
            cm=float(input("Enter the length in cm :"))
            print("Millimitters :",cm*10,"\bmm")
        elif(c==2):
            km=float(input("Enter the distance im KM :"))
            print("Meters :",km*1000,"\bM")
        elif(c==3):
            m=float(input("Enter the length im Metres :"))
            print("Cenimeters :",m*100,"\bcm")
elif(ch=="area"or"Area"):
    print("1. square centimeter to square millimeter\n2. square meter to square centimeter\n3. square centimeter to square meter")
    c=int(input("Enter your choice :"))
    if(c>3 and c<1):
        print("INvalid choice.")
    elif(c==1):
        scm=float(input("Enter the area in square cetimeters :"))
        print("Area in square millimeters :",scm*100,"\bsqmm")
    elif(c==2):
        sm=float(input("Enter the area in square meters :"))
        print("Area in square centimeters :",sm*10000,"\bsqcm")
    elif(c==3):
        scm=float(input("Enter the area in square cetimeters :"))
        print("Area in square meters :",scm/10000,"sqm")

Unit converter for time, distance, area, volume, temperature from one unit to another
Enter your choice :distance
1. cm to mm
2. km to m
3. m to cm
Enter your choice :2
Enter the distance im KM :100
Meters : 100000.0 M

In [ ]:
#43. To check whether the input is number or not. 
n=input("Enter any number :")
if ord(n)>=40 and ord(n)<=57 :
    print("Input is number")
else:
    print("Input is not a number.")

Enter any number :A
Input is not a number.

In [ ]:
#44. To check whether the person is eligible for voting or not. 
age=int(input("Enter the age of the person :"))
if age>=18:
    print("Person is eligible for voting")
else:
    print("Person is not eligible for voting")

Enter the age of the person :19
Person is eligible for voting

In [ ]:
#45. To find the roots of an quadratic equation using elif. 
def discrimenent(a,b,c):
    return (b*b)-(4*a*c)

print("Enter the values of a,b,c of a quadratic equation to find it's roots :")
a=float(input());b=float(input());c=float(input())
x=discrimenent(a,b,c)
if x>0:
    print("Roots are real and distint\nThe roots are : %0.2f"%((-b+(x**0.5))/(2*a)),"\t%0.2f"%((-b-(x**0.5))/(2*a)))
elif x==0:
    print("Roots are real and equal\nThe roots are : %0.2f"%(-b/(2*a)),"\t%0.2f"%(-b/(2*a)))
else:
    print("Roots are imaginary and distint\nThe roots are :%0.2f"%(-b/(2*a)),"\b+i %0.2f"%x,"\t%0.2f"%(-b/(2*a)),"\b-i %0.2f"%x)

Enter the values of a,b,c of a quadratic equation to find it's roots :
7
8
2
Roots are real and distint
The roots are : -0.37 	-0.77

In [ ]:
#46. For student grading system.

In [ ]:
#47. To print your name ‘n’ times. 
name=input("Enter your name :")
n=int(input("How many times to be printed :"))
for i in range(0,n):
    print(name)

Enter your name :Tarun
How many times to be printed :5
Tarun
Tarun
Tarun
Tarun
Tarun

In [ ]:
#48. To find the sum and average of ‘n’ input numbers. 
n=int(input("Enter how many numbers to be entered :"))
print("Enter",n,"numbers :")
l=[]
sum=0
for i in range(0,n):
    l.append(int(input()))
for i in l:
    sum=sum+i
print("Sum of numbers in",l,"is :",sum,"\nAverage :",sum/len(l))

Enter how many numbers to be entered :5
Enter 5 numbers :
10
20
30
40
50
Sum of numbers in [10, 20, 30, 40, 50] is : 150
Average : 30.0

In [ ]:
#49. To print the natural numbers till ‘n’. 
n=int(input("Enter any number to generate natural number series upto input number :"))
print("Natural number series :")
for i in range(1,n+1):
    print(i,end=' ')

Enter any number to generate natural number series upto input number :20
Natural number series :
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
#50. To print the whole numbers till ‘n’. 
n=int(input("Enter any number to generate Whole number series upto input number :"))
print("Whole number series :")
for i in range(0,n+1):
    print(i,end=' ')

Enter any number to generate Whole number series upto input number :20
Whole number series :
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
#51. To print the even series. (Till ‘nth term’ / First ‘n’ Numbers) 
n=int(input("How many numbers are to be printed in the series :"))
c=0
i=1
print("Even series till",n)
while(c<n):
    if i%2==0:
        print(i,end=' ')
        c+=1
    i+=1

How many numbers are to be printed in the series :20
Even series till 20
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40

In [ ]:
#52. To print the odd series. (Till ‘nth term’ / First ‘n’ Numbers) 
n=int(input("How many numbers are to be printed in the series :"))
c=0
i=1
print("odd series till",n)
while(c<n):
    if i%2!=0:
        print(i,end=' ')
        c+=1
    i+=1

How many numbers are to be printed in the series :20
odd series till 20
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39

In [ ]:
#53. To print the AP series (Inputs: first number of the series, common difference and  last number).
def ap_series(a,n,d):
    for i in range(0,n):
        print(a,end=" ")
        a+=d

a=int(input("Enter the starting point of the series : "))
n=int(input("How many numbers are to be printed in the series : "))
d=int(input("Common difference : "))
ap_series(a,n,d)

Enter the starting point of the series : 2
How many numbers are to be printed in the series : 10
Common difference : 6
2 8 14 20 26 32 38 44 50 56

In [ ]:
#54. To check a given number is prime or not. 
def prime_or_not(n):
    c=0
    for i in range(2,(n//2)+1):
        if n%i==0:
            c=1
    if c==1:
        return False
    else:
        return True

num=int(input("Enter a number :"))
if(prime_or_not(num)==True):
    print("Prime number")
else:
    print("Not a prime number")

Enter a number :12
Not a prime number

In [ ]:
#55. To print the Prime Number series till ‘n’. 
n=int(input("Enter the end point of the series :"))
print("Series of prime numbers till",n,":")
for i in range(2,n+1):
    prime=True
    for j in range(2,i):
        if(i%j==0):
            prime=False
    if prime:
        print(i,end=" ")

Enter the end point of the series :100
Series of prime numbers till 100 :
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#56. To print the natural number series and its sum till ‘n’. 
n=int(input("Enter the end point of series:"))
sum=0
print("Series of natural numbers till",n,":")
for i in range(1,n+1):
    print(i,end=" ")
    if i%50==0:
        print("\n")
    sum=sum+i
print("\nSum of series :",sum)

Enter the end point of series:100
Series of natural numbers till 100 :
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100


Sum of series : 5050

In [ ]:
#57. To print the even series and its sum with total number of even numbers within ‘n’. 

n=int(input("Enter the end point of series:"))
c=0;sum=0
print("Series of even numbers till",n,":")
for i in range(1,n+1):
    if i%2==0:
        print(i,end=" ")
        sum=sum+i
        c+=1
print("\nSum of series :",sum,"\nCount of numbers in the series :",c)

Enter the end point of series:37
Series of even numbers till 37 :
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36
Sum of series : 342
Count of numbers in the series : 18

In [ ]:
#58. To print the odd series and its sum with total number of odd numbers within ‘n’. 
n=int(input("Enter the end point of series:"))
c=0;sum=0
print("Series of odd numbers till",n,":")
for i in range(1,n+1):
    if i%2!=0:
        print(i,end=" ")
        sum=sum+i
        c+=1
print("\nSum of series :",sum,"\nCount of numbers in the series :",c)

Enter the end point of series:100
Series of odd numbers till 100 :
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99
Sum of series : 2500
Count of numbers in the series : 50

In [ ]:
#59. To find the sum of following series 1+2+4+8+……+n. 
n=int(input("Enter the value of n to compute 1+2+4+8+...+n :"))
sum=1;i=2
while i<=n:
    sum=sum+i
    i+=i
print("sum of the series :",sum)

Enter the value of n to compute 1+2+4+8+...+n :30
sum of the series : 31

In [ ]:
#60. To Evaluate the following series: 1+x+x2+x3+…..+xn.
x=int(input("Enter the value of x and n to compute the series 1+x+x^2+x^3+....x^n :\n"));n=int(input())
sum=1
for i in range(1,n+1):
    sum=sum+pow(x,i)
print("Sum of the series :",sum)

Enter the value of x and n to compute the series 1+x+x^2+x^3+....x^n :
4
3
Sum of the series : 85

In [ ]:
#61. To evaluate the following series: 1+x+x2/2+x3/3+…..+xn/n. 
x=int(input("Enter the value of x and n to compute the series 1+x+x2/2+x3/3+…..+xn/n :\n"));n=int(input())
sum=1
for i in range(1,n+1):
    sum=sum+(pow(x,i)/i)
print("Sum of the series : %0.2f"%sum)

Enter the value of x and n to compute the series 1+x+x2/2+x3/3+…..+xn/n :
4
3
Sum of the series : 34.33

In [ ]:
#62. To evaluate the following series: 1-x+x2-x3+x4-x5…..+xn. 
x=int(input("Enter the value of x and n to compute the series 1-x+x2-x3+x4-x5…..+xn :\n"));n=int(input())
sum=1
for i in range(1,n+1):
    if i%2==0:
        sum=sum+pow(x,i)
    else:
        sum=sum-pow(x,i)
print("Sum of the series :",sum)

Enter the value of x and n to compute the series 1+x+x^2+x^3+....x^n :
4
5
Sum of the series : -819

In [ ]:
#Function for factorial
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)

In [ ]:
#63. To find the sum of the series [ 1-X^2/2!+X^4/4!- .........]. 

x=int(input("Enter the value of x and n to compute the series [ 1-X^2/2!+X^4/4!- .........] :\n"));n=int(input())
sum=1
for i in range(2,n+1):
    if i%2==0:
        sum=sum-(pow(x,i)/factorial(i))
    else:
        sum=sum+(pow(x,i)/factorial(i))
print("Sum of the series : %0.2f"%sum)

Enter the value of x and n to compute the series [ 1-X^2/2!+X^4/4!- .........] :
4
4
Sum of the series : -7.00

In [ ]:
#64. To Compute the Sin series. 
print("Enter the values of x and n to compute sin series :")
x=int(input());n=int(input())
c=1
sum=x
for i in range(2,n+1):
    if(i%2!=0):
        if(c%2!=0):
            sum=sum-(pow(x,i)/factorial(i))
        else:
            sum=sum+(pow(x,i)/factorial(i))
    c+=1
print("Result of the series : ",sum)

Enter the values of x and n to compute sin series :
120
8
Result of the series :  71302505262.85715

In [ ]:
c=1
for i in range(1,10):
    if(i%2!=0):
        if(c%2!=0):
            print("-")
        else:
            print("+")
        c+=1

-
+
-
+
-

In [ ]:
#65. To Compute the Cos series. 
print("Enter the values of x and n to compute sin series :")
x=int(input());n=int(input())
c=1
sum=1
for i in range(1,n+1):
    if(i%2==0):
        if(c%2!=0):
            sum=sum-(pow(x,i)/factorial(i))
        else:
            sum=sum-(pow(x,i)/factorial(i))
print("Sum of the series :",sum)

Enter the values of x and n to compute sin series :
120
8
Sum of the series : -1070578704341.8572

In [ ]:
#66. To find the power of a given number without using inbuilt function pow ( ).
x=int(input("Enter any integer and its exponent to find it's power value :\n"));n=int(input())
print("Computed value :",x**n)

Enter any integer and its exponent to find it's power value :
3
4
Computed value : 81

In [ ]:
#67. To Split number into digits. 
n=list(input())
for i in n:
    print(i,end=" ")

12345
1 2 3 4 5

In [ ]:
#68. To print the factors of a given number and total numbers of factor. 
n=int(input("Enter any number :"));sum=0
print("Factors of",n,":")
for i in range(1,(n//2)+1):
    if(n%i==0):
        print(i,end=" ")
        sum=sum+i
print("Sum of the factors of",n,":",sum)

Enter any number :30
Factors of 30 :
1 2 3 5 6 10 15 Sum of the factors of 30 : 42

In [ ]:
#69. To find the sum of digits of a given number. 
n=int(input("Enter any number to find the sum of it's digits :"));sum=0
print("Sum of digits in",n,":",end=" ")
while n!=0:
    sum=sum+n%10
    n=n//10
print(sum)

Enter any number to find the sum of it's digits :64532
Sum of digits in 64532 : 20

In [ ]:
#70. To find the sum of digits of a given number till the resulting number is a single  digit.
def sum_of_digits(n):
    sum=0
    while n!=0:
        sum=sum+n%10
        n=n//10
    return sum

num=int(input("Enter any number :"))
x=sum_of_digits(num)
if(x>9):
    x=sum_of_digits(x)
print("Result after computing :",x)

Enter any number :123456
Result after computing : 3

In [ ]:
#71. To find the sum of squares of digits in a given number. 
n=int(input("Enter any number to find the sum of squares of it's digits :"));sum=0
print("Sum of squares of digits in",n,":",end=" ")
while n!=0:
    sum=sum+((n%10)**2)
    n//=10
print(sum)

Enter any number to find the sum of squares of it's digits :123
Sum of squares of digits in 123 : 14

In [ ]:
#72. To find the reverse of a given number. //Method 1
n=int(input("Enter any number to fi nd it's reverse :"));rev=0
print("The reverse of",n,"is :",end=" ")
while n!=0:
    rev=(rev*10)+(n%10)
    n//=10
print(rev)

Enter any number to fi nd it's reverse :6354
The reverse of 6354 is : 4536

In [ ]:
# //Method 2
n=input("Enter any number to find it's reverse :")
print("The reverse of",n,"is :",n[::-1])

Enter any number to find it's reverse :6354
The reverse of 6354 is : 4536

In [ ]:
#73. To check the given number is palindrome or not. 
n=input("Enter any number :")
if n==n[::-1]:
    print(int(n),"is a palindrome")
else:
    print(int(n),"is not a palindrome")

Enter any number :12453
12453 is not a palindrome

In [ ]:
#74. To count the number of digits in a given number. 
n=int(input("Enter any number :"));c=0
n=str(n)
for i in n:
    c+=1
print("Number of digits in",n,"is :",c)

Enter any number :12345
Number of digits in 12345 is : 5

In [ ]:
#75. To find the frequency of a digit in a given number. 
num=int(input("Enter any number :"))
n=str(num);s=set(n);c=0
for i in s:
    for j in n:
        if(i==j):
            c+=1
    print("count of",i,"in",n,"is :",c)
    c=0

Enter any number :11122332112
count of 3 in 11122332112 is : 2
count of 2 in 11122332112 is : 4
count of 1 in 11122332112 is : 5

In [ ]:
 #76. To Print Whether the given number is perfect number or not. (for a perfect  number, the sum of divisors- except the number itself-will be equal to that number;  Exs: 6,28,496,etc.).
num=int(input("Enter any number :"))
sum=0
for i in range(1,(num//2)+1):
    if num%i==0:
        sum=sum+i
print(num,"is a perfect number") if(num==sum) else print(num,"is not a perfect number.")

Enter any number :81
81 is not a perfect number.

In [ ]:
#77. To find the factorial of a given number. 
n=int(input("Enter any number : "));num=n;f=1
while n!=0:
    f=f*n
    n-=1
print(f,"is the factorial of",num)

Enter any number : 8
40320 is the factorial of 8

In [194]:
#78. Convert a decimal number to binary number. 
def decimal_to_binary(n):
        if n>=1:
            decimal_to_binary(n//2)
            print(n%2,end="")
num=int(input("Enter any number to find its binary : "))
print("The binary equalent of",num,"is :",end=" ")
decimal_to_binary(num)

Enter any number to find its binary : 15
The binary equalent of 15 is : 1111

In [ ]:
#79. To find the GCD and LCM of two input numbers. 
print("Enter any two numbers :")
l=[];m=[]
a=int(input());b=int(input())
for i in range(1,b+1):
    if(b%i==0):
        l.append(i)
for j in l:
    if(a%j==0):
        m.append(j)
print("The GCD of",a,"and",b,"is :",max(m))
i=1
while i:
    if i%a==0 and i%b==0:
        print("The LCM of",a,"and",b,"is :",i)
        break
    i+=1

Enter any two numbers :
12
100
The GCD of 12 and 100 is : 4
The LCM of 12 and 100 is : 300

In [ ]:
#80. To print First n terms of Fibonacci Numbers. 
a=0;b=1;n=int(input("Enter the number of terms to be printed in Fibonacci series :"))
print("Series of Fibonacci :")
print(a,b,end=" ")
for i in range(3,n+1):
    sum=a+b
    print(sum,end=" ")
    a=b
    b=sum

Enter the number of terms to be printed in Fibonacci series :20
Series of Fibonacci :
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [ ]:
#81. To Print Twin Primes up to a Specified limit. (Exs: 3-5,5-7,11-13, 17-19, etc.) 
n=int(input("Enter the end point :"))
l=[]
for i in range(2,n+1):
    prime=True
    for j in range(2,i):
        if(i%j==0):
            prime=False
    if prime:
        l.append(i)
for i in range(0,len(l),2):
    if i<len(l)-1:
        i=i+1
        print(l[i],"-",l[i+1])

Enter the end point :100
3 - 5
7 - 11
13 - 17
19 - 23
29 - 31
37 - 41
43 - 47
53 - 59
61 - 67
71 - 73
79 - 83
89 - 97

In [ ]:
#82. To Check if a given number is Armstrong number or not. 
n=int(input("Enter any number :"));num=n;c=0;sum=0
while n!=0:
    n=n//10
    c=c+1
n=num
while n!=0:
    sum=sum+((n%10)**c)
    n//=10
if num==sum:
    print(num,"is an Armstrong number")
else:
    print(num,"is not an Armstrong number")

Enter any number :153
153 is an Armstrong number

In [ ]:
#83. To display the Tables for input ‘n’.(2*1=2……. 2*20=40). 
n=int(input("Enter any number : "))
for i in range(1,21):
    if i<10:
        print(n,"X",i," =",n*i)
    else:
        print(n,"X",i,"=",n*i)

Enter any number : 14
14 X 1  = 14
14 X 2  = 28
14 X 3  = 42
14 X 4  = 56
14 X 5  = 70
14 X 6  = 84
14 X 7  = 98
14 X 8  = 112
14 X 9  = 126
14 X 10 = 140
14 X 11 = 154
14 X 12 = 168
14 X 13 = 182
14 X 14 = 196
14 X 15 = 210
14 X 16 = 224
14 X 17 = 238
14 X 18 = 252
14 X 19 = 266
14 X 20 = 280

In [ ]:
#84. To print nth Fibonacci number. 
a=0;b=1;n=int(input("Enter the value of n :"))
print("Fibonacci number placed at",n,"is :",end="")
for i in range(3,n+1):
    sum=a+b
    a=b
    b=sum
print(sum)

Enter the value of n :20
Fibonacci number placed at 20 is :4181

In [ ]:
#85. To find square root of a given number without using square root function. 
n=int(input("Enter any number : "))
print("Square root of",n,"is : %g"%(n**0.5))

Enter any number : 16
Square root of 16 is : 4

In [ ]:
#86. To print the sequence of prime numbers between two intervals 
st=int(input("Enter the starting point of the series :"))
ep=int(input("Enter the end point of the series :"))
print("Series of prime numbers between",st,"and",ep,"is :")
for i in range(st,ep+1):
    prime=True
    for j in range(2,i):
        if(i%j==0):
            prime=False
    if prime:
        print(i,end=" ")

Enter the starting point of the series :10
Enter the end point of the series :100
Series of prime numbers between 10 and 100 is :
11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#87. To find largest, smallest and second largest of three numbers. 
print("Enter any three numbers :")
l=[]
for i in range(0,3):
    l.append(int(input()))
print(min(l),"is smallest")
m=max(l)
for i in range(0,3):
    if(m==l[i]):
        l[i]=min(l)
print(max(l),"is second larest")

Enter any three numbers :
11
15
10
10 is smallest
11 is second larest

In [ ]:
#88. To Find HCF of two Numbers. 
print("Enter any two numbers :")
l=[];m=[]
a=int(input());b=int(input())
for i in range(1,b+1):
    if(b%i==0):
        l.append(i)
for j in l:
    if(a%j==0):
        m.append(j)
print("The HCF of",a,"and",b,"is :",max(m))

Enter any two numbers :
12
100
The HCF of 12 and 100 is : 4

In [ ]:
#89. To Display Armstrong Numbers between Two Intervals.

In [ ]:
#90. To check given number is strong number or not. 
n=int(input("Enter any number :"));num=n;f=1;sum=0
while n!=0:
    for i in range(1,(n%10)+1):
        f=f*i
    sum=sum+f
    n//=10
    f=1
if sum==num:
    print(num,"is a Strong number")
else:
    print(num,"is not a Strong number")

Enter any number :145
145 is a Strong number

In [ ]:
#91. To display the multiplication table. 
n=int(input("Enter the value of n :"))
print("Multiplication table of",n,"numbers :")
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i*j,end="\t")
    print("\n")

Enter the value of n :20
Multiplication table of 20 numbers :
1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40

3	6	9	12	15	18	21	24	27	30	33	36	39	42	45	48	51	54	57	60

4	8	12	16	20	24	28	32	36	40	44	48	52	56	60	64	68	72	76	80

5	10	15	20	25	30	35	40	45	50	55	60	65	70	75	80	85	90	95	100

6	12	18	24	30	36	42	48	54	60	66	72	78	84	90	96	102	108	114	120

7	14	21	28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	140

8	16	24	32	40	48	56	64	72	80	88	96	104	112	120	128	136	144	152	160

9	18	27	36	45	54	63	72	81	90	99	108	117	126	135	144	153	162	171	180

10	20	30	40	50	60	70	80	90	100	110	120	130	140	150	160	170	180	190	200

11	22	33	44	55	66	77	88	99	110	121	132	143	154	165	176	187	198	209	220

12	24	36	48	60	72	84	96	108	120	132	144	156	168	180	192	204	216	228	240

13	26	39	52	65	78	91	104	117	130	143	156	169	182	195	208	221	234	247	260

14	28	42	56	70	84	98	112	126	140	154	168	182	196	210	224	238	252	266	280

15	30	45	60	75	90	105	120	135	150	165	180	195	210	225	240	255	270	285	300

16	32	48	64	80	96	112	128	144	160	176	192	208	224	240	256	272	288	304	320

17	34	51	68	85	102	119	136	153	170	187	204	221	238	255	272	289	306	323	340

18	36	54	72	90	108	126	144	162	180	198	216	234	252	270	288	306	324	342	360

19	38	57	76	95	114	133	152	171	190	209	228	247	266	285	304	323	342	361	380

20	40	60	80	100	120	140	160	180	200	220	240	260	280	300	320	340	360	380	400

In [ ]:
#92. To print Floyd’s triangle
n=int(input("How many rows are to be printed in 'Floyd's Triangle' :"))
print("Floyd's Triangle with",n,"rows :")
k=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end=" ")
        k+=1
    print("\n")

How many rows are to be printed in 'Floyd's Triangle' :5
Floyd's Triangle with 5 rows :
1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [ ]:
#93. To print Pascal triangle. 
n=int(input("Enter how many rows are to be printed in Pascal Triangle :"))
print("Pascal's Triangle with",n,"rows :")
for i in range(1,n+1):
    for sp in range(0,n-i+1):
        print(" ",end=" ")
    k=1
    for l in range(1,i+1):
        print(" ",k,end=" ")
        k=k*(i-l)//l
    print("\n")

Enter how many rows are to be printed in Pascal Triangle :5
Pascal's Triangle with 5 rows :
            1

          1   1

        1   2   1

      1   3   3   1

    1   4   6   4   1

In [ ]:
#94. To print pyramids of numbers.

In [ ]:
#95. To print the following patterns: 
#95.1
"""
* 
* * 
* * * 
* * * * 
* * * * * 
"""
n=int(input("Enter how many rows are to be printed :"))
print("Pattern with",n,"rows :")
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

Enter how many rows are to be printed :5
Pattern with 5 rows :
*
* *
* * *
* * * *
* * * * *

In [ ]:
#95.2
"""
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5 
"""
n=int(input("Enter how many rows are to be printed :"))
print("Pattern witn",n,"rows :")
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter how many rows are to be printed :5
Pattern witn 5 rows :
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#95.3
"""
A 
B B 
C C C 
D D D D 
E E E E E 
"""
n=int(input("Enter how many rows are to be printed :"))
print("Pattern with",n,"rows :")
for i in range(ord('A'),ord('A')+n):
    for j in range(ord('A'),i+1):
        print(chr(i),end=" ")
    print()

Enter how many rows are to be printed :5
Pattern with 5 rows :
A
B B
C C C
D D D D
E E E E E

In [ ]:
#95.4
"""
1 
2 3 
4 5 6 
7 8 9 10 
"""
n=int(input("Enter how many rows are to be printed :"));k=1
print("Pattern with",n,"rows :")
for i in range(0,n):
    for j in range(0,i+1):
        print(k,end="  ")
        k+=1
    print()

Enter how many rows are to be printed :4
Pattern with 4 rows :
1
2  3
4  5  6
7  8  9  10

In [ ]:
#95.5
"""
* * * * * 
* * * * 
* * *  
* * 
* 
"""
n=int(input("Enter how many rows are to be printed :"));
print("Pattern with",n,"rows :")
for i in range(n+1,0,-1):
    for j in range(0,i-1):
            print("*",end=" ")
            
    print()

Enter how many rows are to be printed :5
Pattern with 5 rows :
* * * * *
* * * *
* * *
* *
*

In [ ]:
#95.6
"""
1 2 3 4 5 
1 2 3 4  
1 2 3
1 2 
1 
"""
n=int(input("Enter how many rows are to be printed :"))
print("Pattern with",n,"rows :")
for i in range(n+1,0,-1):
    for j in range(0,i-1):
        print(j+1,end=" ")
    print()

Enter hoe many rows are to be printed :5
Pattern with 5 rows :
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#95.6
"""
* 
* * *
* * * * *
* * * * * *
* * * * * * * *
"""
n=int(input("Enter how many rows are to be printed :"))
print("Pattern with",n,"rows :")
for i in range(1,(2*n)+1,2):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter how many rows are to be printed :5
Pattern with 5 rows :
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [ ]:
#95.7 ##""""NEED TO CLARIFY"""""
"""
1 
2 3 2 
3 4 5 4 3 
4 5 6 7 6 5 4 
5 6 7 8 9 8 7 6 5 
"""
n=int(input("Enter how many rows are to be printed :"));k=0
print("Pattern with",n,"rows :")
for i in range(1,(2*n)+1,2):
    k+=1
    tem=k
    for j in range(1,i+1):
        print(tem,end=" ")
        tem=tem+1
    print()

Enter how many rows are to be printed :5
Pattern with 5 rows :
1
2 3 4
3 4 5 6 7
4 5 6 7 8 9 10
5 6 7 8 9 10 11 12 13

In [ ]:
#95.8
"""
3 3 3 3 3  
3 2 2 2 3 
3 2 1 2 3 
3 2 2 2 3 
3 3 3 3 3
"""

'\n3 3 3 3 3  \n3 2 2 2 3 \n3 2 1 2 3 \n3 2 2 2 3 \n3 3 3 3 3\n'

In [236]:
#96. To find largest among three numbers using binary minus operator. 
print("Enter any 3 numbers :")
a=int(input())
b=int(input())
c=int(input())
if a-b>0 and a-c>0:
    print(a,"is largest")
elif b-c>0:
    print(b,"is largest")
else:
    print(c,"is largest")

Enter any 3 numbers :
11
13
12
13 is largest

In [250]:
#97. To find out prime factor of given number. 
def prime_or_not(n):
    c=0
    for i in range(2,(n//2)+1):
        if n%i==0:
            c=1
    if c==1:
        pass
    else:
        print(n,end=" ")
n=int(input("Enter a number :"));l=[]
for i in range(1,n+1):
    if(n%i==0):
        l.append(i)
print("Factors of",n,":",l)
print("Prime factors of",n,":",end=" ")
for num in l:
    prime_or_not(num)

Enter a number :27
Factors of 27 : [1, 3, 9, 27]
Prime factors of 27 : 1 3

In [ ]:
#99. To print 1 to 100 without using loop. 
def sequel_series(sp,ep):
    i=sp
    j=ep
    if(sp<=ep):
        print(i,end=" ")
    i+=1
    if i<ep :
        sequel_series(i,j)
    else:
        print(ep)

s=int(input("Enter the starting point of the series :"))
e=int(input("Enter the end point of the series :"))
sequel_series(s,e)

Enter the starting point of the series :1
Enter the end point of the series :100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
#100. Check the input number is a Neon Number or not. (Neon number is a  number where the sum of digits of square of the number is equal to the number  itself. Ex: 9 is a Neon Number – 9*9 =81, where 8+1=9)
num=int(input("Enter any number :"));sum=0
n=num*num
while n!=0:
    sum=sum+(n%10)
    n//=10
if sum==num:
    print(num,"is a Neon number")
else:
    print(num,"is not a Neon number")

Enter any number :9
9 is a Neon number

In [ ]:
#101. Check the input number is an Automorphic Number or not. (Automorphic  number is a number whose square ends in the same digit as the number it self. Ex:  5 – Square ends with 5 (25))
n=int(input("Enter any number :"))
ns=str(n)
sqs=str(n**2)
if ns in sqs[len(sqs)//2::]:
    print("Automprphic number")
else:
    print("Not an Automorphic number")
print("Square of",n,":",n**2)

Enter any number :15
Not an Automorphic number
Square of 15 : 225

In [ ]:
#102. Check the input number is a Spy Number or not. ( A spy number is a  number where the sum of its digits equals the product of its digits. For example,  1124 is a spy number, the sum of its digits is 1+1+2+4=8 and the product of its  digits is 1*1*2*4=8.)
n=int(input("Enter any number :"));s=0;p=1
num=n
while n!=0:
    s=s+(n%10)
    p=p*(n%10)
    n//=10
if s==p:
    print(num,"is a Spy number")
else:
    print(num,"is not a Spy number")

Enter any number :1234
1234 is not a Spy number

In [ ]:
#103. Check the input number is a Happy Number or not. ( Happy number is a  number which eventually reaches 1 when replaced by the sum of the square of  each digit. For instance, 13 is a happy number because {1^{2}+3^{2}=10}, and  {1^{2}+0^{2}=1}.)
def sq_sum(n):
    sum=0
    while n!=0:
        sum=sum+((n%10)**2)
        n//=10
    x=sum
    if x>9:
        x=sq_sum(x)
    return x

num=int(input("Enter any number :"))
x=sq_sum(num)
if x==1:
    print(num,"is a Happy number")
else:
    print(num,"is not a Happy number")

Enter any number :97
97 is a Happy number

In [ ]:
#104. Check the input number is a Sunny Number or not. ( A number n is called  Sunny number if the next number (n+1) is a perfect square number. For example  15 is a Sunny number because 15+1 =16 is a perfect square number.)
n=int(input("Enter any number :"))
print(n,"is a Sunny number") if ((n+1)**0.5)%2==0 else print(n,"is not a Sunny number")

Enter any number :3
3 is a Sunny number

In [ ]:
#105. Check the input number is a Fascinating Number or not. ( Fascinating  Number: When a number( 3 digits or more ) is multiplied by 2 and 3, and when  both these products are concatenated with the original number, then it results in all 
n=int(input("Enter any number (>99) :"))
if(len(str(n))<3):
    print("Invalid input. Enter a valid input")
else:
    l=str(n)+str(n*2)+str(n*3)
    s=set(l)
    if len(s)==len(l):
        print(n,"is a Fascinating number")
    else:
        print(n,"is not a Fascinating number")

Enter any number (>99) :273
273 is a Fascinating number

In [ ]:
#106. Check the input number is a Disarium Number or not. ( A disarium  number is a number in which the sum of the digits to the power of their respective  position is equal to the number itself (position is counted from left to right starting  from 1). Hence,175 is a disarium number).
def count(n):
    c=0
    n=str(n)
    for i in n:
        c+=1
    return c

n=int(input("Enter a number :"))
c=count(n);sum=0
num=n
while n!=0:
    sum=sum+((n%10)**c)
    c-=1
    n//=10
print(num,"is a Disarium number") if sum==num else print(num,"is a not Disarium number")

Enter a number :175
175 is a Disarium number

In [ ]:
#107. Check the input number is a Pronic Number or not. ( Pronic number is a  product of two consecutive integers of the form: n(n+1). For example: 6 = 2(2+1)=  n(n+1), 72 =8(8+1) = n(n+1)).
n=int(input("Enter a number :"))
i=1
x=0
while i<n//2:
    x=i*(i+1)
    if(x==n):
        print(n,"is a Pronic number")
        break
    i+=1
else:
    print(n,"is not a Pronic number")

Enter a number :552
552 is a Pronic number

In [193]:
#108. Check the input number is a Trimorphic Number or not. ( A number is  called Trimorphic number if and only if its cube ends in the same digits as the  number itself. In other words, number appears at the end of its cube. Ex: 5 - 5*5*5=125).
n=int(input("Enter any number :"))
ns=str(n)
cs=str(n**3)
if ns in cs[len(cs)//2::]:
    print("Trimorphic number")
else:
    print("Not an Trimorphic number")
print("Cube of",n,":",n**3)

Enter any number :6
Trimorphic number
Cube of 6 : 216

In [202]:
#109. Check the input number is Evil or Odious Number. (An odious number is  a nonnegative number that has an odd number of 1s in its binary expansion. An  Evil number is a nonnegative number that has an even number of 1s in its binary  expansion).
def decimal_to_binary(n):
        l=""
        if n>=1:
            decimal_to_binary(n//2)
            l=l+str(n%2)
        return l

num=int(input("Enter any number :"))
x=decimal_to_binary(num)
print(x)
c=0
for i in x:
    if i=='1':
        c+=1
if c%2==0:
    print(num,"is an Evil number")
else:
    print(num,"is an Odious number")

Enter any number :15
1
15 is an Odious number

In [223]:
#111. To Compute the Speed of a Vehicle based on the input distance in KM and  time in HR.
km=float(input("Enter the distance in Km/hr :"))
hr=float(input("Enter the time taken to cover the distance (in hrs) :"))
print("The speed of the Vehicle is : %g"%(km/hr))

Enter the distance in Km/hr :130
Enter the time taken to cover the distance (in hrs) :3
The speed of the Vehicle is : 43.3333